# --- INFRASTRUCTURE CREDENTIALS ---
POSTGRES_USER=admin
POSTGRES_PASSWORD=password123
POSTGRES_PORT=5432

MONGO_USER=admin
MONGO_PASSWORD=password123
MONGO_PORT=27017

REDIS_PORT=6379

RABBITMQ_USER=admin
RABBITMQ_PASS=password123
RABBITMQ_PORT_NODE=5672
RABBITMQ_PORT_UI=15672

# --- COMMON SECRETS ---
JWT_SECRET=supersecret

# --- SERVICE PORTS ---
GATEWAY_PORT=3000
AUTH_PORT=3001
BOOKING_PORT=3002
DRIVER_PORT=3003
NOTIFICATION_PORT=3004
PAYMENT_PORT=3005
PRICING_PORT=3006
REVIEW_PORT=3007
RIDE_PORT=3008
USER_PORT=3009

# Cho các service khác gọi API
PRICING_SERVICE_URL=http://pricing-service:3006/api/v1

# Cho RabbitMQ (các service nhận event)
RABBITMQ_URL=amqp://admin:password123@rabbitmq:5672
MATCHING_PORT=3010
