# ── Server ────────────────────────────────────────────────────────────────────
PORT=3004
NODE_ENV=development

# ── MongoDB Atlas ─────────────────────────────────────────────────────────────
DB_URL=mongodb+srv://hle26625_db_user:aEuxe83lA4lX9OEk@notification.jrxenun.mongodb.net/?appName=Notification

# ── Message Broker (RabbitMQ) ─────────────────────────────────────────────────
RABBITMQ_ENABLED=true
# THAY localhost thành rabbitmq
RABBITMQ_URL=amqp://admin:password123@rabbitmq:5672

# ── Redis ─────────────────────────────────────────────────────────────────────
# THAY localhost thành redis
REDIS_URL=redis://redis:6379

# ── Firebase FCM ─────────────────────────────────────────────────────────────
FCM_ENABLED=false