PORT=3001
NODE_ENV=development

# Database
DB_USER=postgres
DB_HOST=localhost
DB_NAME=auth_db
DB_PASSWORD=123
DB_PORT=5432

JWT_SECRET=a91842bd334f3b15cc8050d0b0f7783305452c7ddf7fe7a6cf81b74042cd8bd374500322e944edaf7ea8c72fc0dc6071c9668380eed0ada5e3b4fe0872901fda
JWT_REFRESH_SECRET=28a7010ec2dfa9c6a912b54b551485ced5ad05708de7368b1bfc6c8b6689f9dd94774c0a5d2e4c94602673d219d45df0ea8c37ce5066eb920db28e40643ef2ba
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
# SMTP Email
# Dev: để trống → token sẽ log ra console
# Production: điền thông tin SMTP bên dưới
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=baophnc@gmail.com
SMTP_PASS=jock bhpw erpu lgda
SMTP_FROM=Cab System <baophnc@gmail.com>

# Password Reset
PASSWORD_RESET_TTL_MINUTES=30

DRIVER_SERVICE_URL=http://cab_driver:3003
USER_SERVICE_URL=http://cab_user:3009
INTERNAL_SECRET=cab-internal-2024
