PORT=3003
NODE_ENV=development
DB_HOST=postgres
DB_PORT=5432
DB_USER=admin
DB_PASSWORD=password123
DB_NAME=driver_db
MONGO_URL=mongodb://admin:password123@mongodb:27017/driver_db?authSource=admin
REDIS_HOST=redis
REDIS_PORT=6379
JWT_SECRET=supersecret
LOG_LEVEL=info