# .env
PORT=3003
NODE_ENV=development

# Database
DB_HOST=postgres
DB_PORT=5432
DB_USER=admin
DB_PASSWORD=password123
DB_NAME=driver_db

MONGO_URL=mongodb://admin:password123@mongodb:27017/driver_db?authSource=admin

# Redis
REDIS_HOST=redis
REDIS_PORT=6379

# 🔥 JWT SECRET PHẢI GIỐNG VỚI AUTH SERVICE
JWT_SECRET=supersecret

# Service URLs
RIDE_SERVICE_URL=http://cab_ride:3008
AUTH_SERVICE_URL=http://cab_auth:3001
# Pricing Service
PRICING_SERVICE_URL=http://cab_pricing:3006

# Logging
LOG_LEVEL=info